{% render 'partials/head.liquid' %}

<article class="profile-card-example">
      <header class="profile-card-example-header">
        <h1>{{ person.name }}</h1>

        <p><em>Student Frontend design and development</em></p>
      </header>

      <img
        src="assets/Squad1I-Rowan.JPG"
        alt="foto van Rowan van Laar"
        width="800"
        height="800"
        class="profile-card-example-img"
      >
      <dl class="profile-card-example-dl">
        <dt>Birthdate</dt>
        <dd>{{ person.birthdate }}</dd>

        <dt>Hobby</dt>
        <dd>{{ custom.hobby }}</dd>

        <dt>Favorite game</dt>
        <dd>{{ custom.game }}</dd>
      </dl>

      <p>
        {{ person.bio }}
      </p>

       <footer></footer>
    </article>

{% render 'partials/foot.liquid' %}
